.slider {
  position: relative;
  display: flex;
  width: 100%;
  touch-action: none;
  user-select: none;
  align-items: center;
}

.track {
  position: relative;
  height: 0.5rem;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 9999px;
  background: var(--secondary);
}

.range {
  position: absolute;
  height: 100%;
  background: var(--primary);
}

.thumb {
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 9999px;
  border: 2px solid var(--primary);
  background: var(--background);
  transition: colors 0.2s;
}

.thumb:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--background), 0 0 0 4px var(--ring);
}

.thumb:disabled {
  pointer-events: none;
  opacity: 0.5;
}

