.progress {
  position: relative;
  height: 1rem;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
  background: hsl(var(--secondary));
}

.indicator {
  height: 100%;
  width: 100%;
  flex: 1;
  background: hsl(var(--primary));
  transition: all 0.2s;
}

